body,input,button{
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#search{
    background: #161515;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    color-scheme: white;
    width: 600px;
    height: 40px;
    color: white;
    margin: 20px;
}

.head{
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#img{
    padding: 15px;
}

.mainButtons{
    margin-left: 580px;
}

#lucky{
    padding: 15px
}